footer{
    clear:both;
    position:relative;
    color: rgb(169,209,142);
    margin-top:80px;
    margin-bottom:35px;
    text-align:center;
    inline-height:1;
}

h5 {
    color: rgb(85,205,205);
}

#content {
    text-align:center;
    color: rgb(124,173,69);
}

#link {
    font-size:100%;
    color: rgb(124,173,69);
}