<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>404</title>
        <link href="../static/404.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div id="content">
            <img src="pics/404.png" width="500" height="280" />
        <h1>您找的文件不存在</h1><br>
        <h5>嘘，别让TA发现这里还没做</h5><br>
        <a id="link" href="login.html">Login</a><br>
        </div>
        <footer>
            <p>Copyright &copy; 2017 Yang Chen MSN Group, All Rights Reserved</p>
        </footer>
    </body>
</html>