<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Data Labeling</title>
    <script src="{{ static_url('label.js') }}"></script>
    <link href="{{ static_url('label.css') }}" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="wrapper">
        <div id="hello">Hello, {{name}}</div>
        <div id="gs_page">
            <a href="https://scholar.google.co.jp/citations?user={{scholarID}}&hl=zh-CN&oi=ao" target="_blank">Google Scholar Cite</a>
            <a href="/file?scholarID={{scholarID}}" target="_blank">Profile</a>
            <!--/static/gs_data/{{scholarID}}.parse-->
        </div>
        {% block form %}
        <form id="kernel" method="post" action="/store" onsubmit="return validateForm()">
            <input type="radio" name="label" value="reliable" />reliable
            <input type="radio" name="label" value="sybil" />unreliable
            <input type="radio" name="label" value="ambiguous" />ambiguous
            <input type="radio" name="label" value="invalid" />invalid
            <input type="hidden" name="filename" value="{{scholarID}}.parse" />
            <input type="hidden" name="account" value="{{email}}" />
            <input type="submit" value="submit" id="submit_btn" />
        </form>
        {% end %}
        <div id="record">
            The number of labeled data so far (ambiguous not counted): {{number}}
            <a href="/record?account={{email}}"><input type="button" id="show_record" value="show data"></a>
        </div>
        <div id="criteria">
            <p class="highlight">If there is anything goes wrong after long time connection without operation, just login again. If it still goes wrong, please contact me ASAP and report the BUG track (shown on the page) to me.</p>
            <p class="highlight">Please use Chrome web browser instead of IE, which may cause BUGs.</p>

            <p>Criteria:</p>
            <p>There are 3 classification: reliable, unreliable, invalid. The data are profiles of each scholar on Google Scholar website. You need to scrutiny each scholar’s personal website to classify him/her.</p>
            <p>The data are already collected and preprocessed. Click the two links above.</p>
            <br>
            <p>INVALID: since I collected all these data in 2016, there maybe some conspicuous modifications in some scholars’ profiles which cannot be ignored. You are supposed to compare my data with the latest data on Google Scholar website. If the data before year 2015 have been modified remarkably i.e. many theses published before 2016 have been deleted or their information(publication, title .etc.) has been modified, then the scholar’s data entry should be labeled INVALID.</p>
            <br>
            <p>UNRELIABLE: As long as there is one thesis not written by this scholar included in his/her profile, the scholar should be labeled UNRELIABLE, even if the thesis is actually written by his/her students. In short, only theses written by himself/herself should be included in his/her profile. If the data entry is actually not a scholar but a journal, label it as UNRELIABLE.</p>
            <br>
            <p>RELIABLE: All the theses are written by himself/herself.</p>
            <br>
            <p>AMBIGUOUS: This label is only set to flag for future decision, thus ambiguous entry is not counted. You can modify the flagged scholar later by clicking button MODIFY.</p>
            <br>
            <p>Here are some tips for identifying unreliable scholars:</p>
            <p>1.You need to check the author list of each theses, make sure the scholar himself/herself is in the list. Click the theses links to see the full name of authors, in case the author is actually someone else with the same acronym or just include theses of his/her students or colleagues.</p>
            <p>2.Scrutinize the scholars whose acronyms are quite common.</p>
            <p>3.If the scholar publish too many theses, especially for those scholars in Mathematic, Physics or other mature fields, it is probable that he/she includes others theses.</p>
            <p>4.Peruse the theses of top citations. It is more possible for scholars to include influential theses to increase his/her indexes.</p>
            <p>5.For a thesis without the exact full name of the scholar, like maybe the surname is different while given name is the same, assess by other factors to decide whether the scholar is the author, for he/she may change his/her name:</p>
            <div id="details">
                <p>     1) Whether the title or abstract of the thesis matches with his/her research fields if given, if not whether this thesis is in the same research field of his/her other theses.</p>
                <p>     2) Whether the co-authors of that thesis also collaborate with the scholar in other theses.</p>
                <p>     3) Whether the intuition or affiliation is the same as the scholar.</p>
                <p>     4) If the scholar is a female, it is possible the scholar is the author, for a female may change her surname because of marriage.</p>
                <p>     5) There may be a case that the parent or relative of the scholar is also a scholar in the same field, then the scholar may include his/her theses. Peruse the background of the scholar.</p>
            </div>
            <p>6.If the profile is actually of a journal or a conference publication or something like that, in another word, it is not a scholar, label it UNRELIABLE.</p>
            <p class="redundant"></p>
        </div>
    </div>
    <footer>
		<p>Copyright &copy; 2017 Yang Chen MSN Group, All Rights Reserved</p>
	</footer>
</body>
</html>